<html ng-app="myapp">
	<head>
		<title>Hello AngularJS</title>
		<link rel="stylesheet" href="styles/styles.css">
		<!-- bower:css -->
		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
		<!-- endbower -->
	</head>

	<body>



	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<div class="navbar-brand">Notes tutorial app</div>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" placeholder="Username" class="form-control">
					</div>
					<div class="form-group">
						<input type="password" placeholder="Password" class="form-control">
					</div>
					<button type="submit" class="btn btn-success">Sign in</button>
				</form>
			</div><!--/.navbar-collapse -->
		</div>
	</nav>

	<div class="jumbotron">
		<div class="container">
			<h2>
				<span class="glyphicon glyphicon-edit"></span>
				Keep your notes in order
			</h2>
			<p>
				A simple application to keep your own notes in order.
			</p>
		</div>
	</div>

	<div class="container">
		<div ng-controller="NotesController">

			<div class="col-md-6">
				<div class="fx-zoom-normal" ng-show="hasNotes">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">List of notes</h3>
						</div>
						<div class="panel-body">
							<select ng-model="order" class="sorting form-control">
								<option value="date">Sort by date</option>
								<option value="sort">Sort by order</option>
								<option value="text">Sort alphabetically</option>
							</select>
							<div ng-repeat="note in notes" class="fx-fade-up fx-duration-230 fx-ease-sine">
								<div class="panel panel-default">
									<div class="panel-body">
										<p>{{note.text}}</p>
									</div>
									<div class="panel-footer">
										<div class="container-fluid">
											<div class="col-sm-5">
												<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
												<span>{{note.date | date: 'HH:mm dd/MM/yyyy'}}</span>
											</div>
											<div class="col-sm-5">
												<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
												<span>{{note.section}}</span>
											</div>
											<div class="col-sm-2">
												<button type="button" class="close pull-right" aria-label="Close" ng-click="removeNote(note._id)"><span aria-hidden="true">&times;</span></button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div ng-class="{'col-md-6' : hasNotes}">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Add your note to {{activeSection}}</h3>
					</div>

					<div class="panel-body">
						<div class="form-group">
							<textarea class="form-control" rows="10" cols="50" ng-model="text"></textarea>
							<h5>Category: </h5>
							<ul class="list-group sections">
								<li href="#" class="btn btn-default"
									ng-repeat="section in sections"
									ng-class="{'btn-primary': sectionSelected === section.title}"
									ng-click="selectSection(section)">
									{{section.title}}
								</li>
								<li class="btn btn-info fx-fade-down" ng-show="!showNewSectionInput" ng-click="showNewSection(true)">Add new section</li>
							</ul>
							<div ng-show="showNewSectionInput" class="form-inline fx-fade-up">
								<div class="form-group">
									<input ng-model="newSection" type="text" class="form-control" id="sectionName" placeholder="section name">
								</div>
								<div class="btn btn-primary" ng-click="addNewSection(newSection)">Add section</div>
								<div class="btn btn-danger" ng-click="showNewSection(false)">Cancel</div>
							</div>
							<button ng-click="addNote()" class="btn btn-success btn-block btn-new-note">Add note</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

		<!-- bower:js -->
		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="../bower_components/angular/angular.js"></script>
		<script src="../bower_components/angular-animate/angular-animate.js"></script>
		<script src="../bower_components/gsap/src/uncompressed/TweenMax.js"></script>
		<script src="../bower_components/ngFx/dist/ngFx.js"></script>
		<script src="../bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
		<!-- endbower -->

		<script src="controllers/notes.js"></script>

	</body>
</html>
