.sorting{
    margin-bottom: 20px;
}

.sections{
    padding-top: 10px;
}
.sections li{
    margin: 10px;
}

.btn-new-note{
    margin-top: 20px;
}

.navbar.navbar-inverse{
	background: rgb(0,0,0);
}
.jumbotron{
	background: url('../images/nebula.jpg');
	background-size: cover;
}
.jumbotron .container{
	color: rgb(255,255,255);
	text-shadow: 3px 2px 3px rgb(0,0,0);
}

.jumbotron h2{
	margin-top: 50px;
}
